{% extends 'base/base.html' %}

{% block title %}NF | Commande {% endblock %}


{% block content %}
    <a href="{% url 'product:home' %}"><i>home </i></a> - <i>Ajouter commande</i>

    <div>
        <h1 class="my-5 text-center">Commande</h1>

        <div class="row">
            <div class="col-md-8 mx-auto my-5 text-center">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-outline-success">Confirmer</button>
                        <a href="{% url 'product:home' %}" class="btn btn-outline-warning">Annuler</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
